# Konfigurasi Server
PORT=5000

# Konfigurasi Database MongoDB (Ganti dengan URI Anda)
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<nama_database>

# Konfigurasi Keamanan (Jika menggunakan JWT di tahap selanjutnya)
JWT_SECRET=rahasia_super_aman_untuk_token