# Dependencies
node_modules/

# Environment
.env
.env.local
.env.production

# Logs
logs/
*.log

# IDE Files
.vscode/
.idea/
*.swp

# Upload files
uploads/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/